############### Sensitive config ###############
# private key for sending out app-specific transactions
PRIV_KEY=""

############### General config ###############
# general - execution environment
START_FROM_LAUNCHER=true # change to false when the backend is ready
TORA_ENV=production
TORA_DEBUG=true # true | false
CHAINS='["sepolia"]' # you can find supported chains below, please replac whitespace with underscore

# general - provider url
MAINNET_WSS=""
MAINNET_HTTP=""
SEPOLIA_WSS=""
SEPOLIA_HTTP=""
ARBITRUM_WSS=""
ARBITRUM_HTTP=""
ARBITRUM_SEPOLIA_WSS=""
ARBITRUM_SEPOLIA_HTTP=""
BASE_WSS=""
BASE_HTTP=""
LINEA_WSS=""
LINEA_HTTP=""
MANTA_WSS=""
MANTA_HTTP=""
MANTA_SEPOLIA_WSS=""
MANTA_SEPOLIA_HTTP=""
MANTLE_WSS=""
MANTLE_HTTP=""
MORPH_WSS=""
MORPH_HTTP=""
OP_WSS=""
OP_HTTP=""
OP_SEPOLIA_WSS=""
OP_SEPOLIA_HTTP=""
POLYGON_WSS=""
POLYGON_HTTP=""

# general - crosscheck
USE_CROSSCHECK=false
CC_POLLING_INTERVAL=3000 # 3 sec in ms
CC_BATCH_BLOCKS_COUNT=1 # default 300 means blocks in 1 hours on eth

# general - redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# redis global ttl, comment out -> no ttl limit
REDIS_TTL=86400000 # 1 day in ms 

# general - store ttl
TASK_TTL=2592000000
TASK_DONE_TTL=2592000000 # comment out -> no ttl limit
CC_TTL=2592000000 # 2 hr in ms

############### App specific config ###############
# confirm - general
CONFIRM_MODEL_SERVER_13="http://openlm:5000/"
CONFIRM_MODEL_SERVER_14="http://openlm-chat:5000/"
CONFIRM_MODEL_SERVER_15="http://openlm-score:5000/"
CONFIRM_MODELS='[13]' # 13: OpenLM; 50: Stable Difussion; 11: Llama3